@model Product  

@{
    ViewData["Title"] = "Lego Product Details";
}


@if (Model != null)
{
    <h2>@Model.Name</h2>
    <br />
    <img src="@Model.ImgLink" alt="Image" style="max-width: 400px; height: auto;">
    <br />
    <p>Year: @Model.Year</p>
    <p>Price: @Model.Price</p>
}
else
{
    <p>Product details not found.</p>
}
<form id="@Model.ProductId" method="post" asp-page="/Cart">
    <input type="hidden" asp-for="ProductId" />
    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
    <button type="submit" class="btn-outline-success btn-lg ">Buy</button>
</form>
